[submodule "express-server"]
	path = express-server
	url = git@github.com:GetWebstack-public/express-server.git
[submodule "react-app"]
	path = react-app
	url = git@github.com:GetWebstack-public/react-app.git
