[submodule "express-server"]
	path = express-server
	url = https://github.com/GetWebstack-public/express-server
[submodule "react-app"]
	path = react-app
	url = https://github.com/GetWebstack-public/react-app
