# Ignore at any level terraform.tfstate
**/terraform.tfstate
**/terraform.tfstate.backup
**/terraform.tfstate.backup.*

# Ignore .terraform directories
**/.terraform/*

# Ignore .idea directories
**/.idea/*

# Ignore .vscode directories
**/.vscode/*
./drivers/kubeadm/scripts/03_kubeadm_join.sh